*,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(#e66465, #f6b73c);
    background: -webkit-linear-gradient(#e66465, #f6b73c);
    height: 100vh;
}

button {
    color: white;
    padding: 20px;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.175);
    transform: scale(1.05);
    border: none;
    background: linear-gradient(#e66465, #f6b73c);
    background: -webkit-linear-gradient(#e66465, #f6b73c);
}

.section {
    padding: 80px 0;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-container {
    position: relative;
}

h1 {
    text-align: center;
    color: white;
    font-size: 44px;
    padding-bottom: 20px;
}

.color-picker-container {
    text-align: center;
}

input[type="color"] {
    margin: 20px;
    height: 108px;
    width: 108px;
    border: none;
    box-shadow: none;
}

textarea {
    min-width: 600px;
    max-width: 800px;
    display: block;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.8rem;
        padding-bottom: 20px;
    }
    textarea {
        min-width: 300px;
        max-width: 600px;
    }
}